:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.progress-container {
  width: 80%;
  /*height: 30px;*/
  height: 10px;
  /*background-color: #e0e0e0;*/
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 3px -5px #000000, 0 2px 5px #0000001f;
}

.progress-bar {
  height: 100%;
  width: 0;
  /*background-color: #76c7c0;*/
  /*background-color: #003a63;*/
  background-image: linear-gradient(315deg, #003a63 0%, #00c6a7 74%);
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease;
}
