<a href="/patron-import/institutions" class="btn btn-sm btn-outline-dark pull-left"><i class="fa fa-arrow-left"></i></a>
<div class="container-fluid mt-5" *ngIf="institution">

  <h4><strong>{{ institution.name }}</strong></h4>
  <div class="row">

    <div class="col-12">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <th scope="row">Enabled</th>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault_{{institution.id}}"
                     [(ngModel)]="institution.enabled"
                     (ngModelChange)="service.toggleInstitution(institution)">
              <label class="form-check-label" for="flexSwitchCheckDefault_{{institution.id}}"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Tenant</th>
          <td>{{ institution.tenant }}</td>
        </tr>
        <tr>
          <th scope="row">Module</th>
          <td>{{ institution.module }}</td>
        </tr>
        <tr>
          <th scope="row">ESID</th>
          <td>{{ institution.esid }}</td>
        </tr>

        <tr class="p-0">
          <th scope="row">Email Success</th>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="institution.emailsuccess"
                     placeholder="Recipient's Email" aria-label="Recipient's Email" aria-describedby="button-addon2">
              <button
                (click)="service.updateEmailSuccessByInstitutionId(service.currentInstitutionId, institution.emailsuccess )"
                class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fa fa-save"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">Path</th>
          <td class="file-path">{{ fullPath }}
            <button
              [cdkCopyToClipboard]="fullPath"
              (cdkCopyToClipboardCopied)="onCopied($event)"
              class="copy-icon">
              <i class="fa fa-copy"></i>
            </button>
            <span [ngClass]="{ 'copied': showCopied, 'hidden': !showCopied }">Copied!</span>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

  <!-- TABS -->
  <div class="row">
    <div class="col-12">

      <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/metrics"
             data-bs-target="#institution-tab-pane" type="button" role="tab">Metrics</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/patrons"
             data-bs-target="#institution-tab-pane" type="button" role="tab">Patrons</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/jobs"
             data-bs-target="#institution-tab-pane" type="button" role="tab">Failed Patrons</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/file-patterns"
             data-bs-target="#institution-tab-pane" type="button" role="tab">File Patterns</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/file-tracker"
             data-bs-target="#institution-tab-pane" type="button" role="tab">File Tracker</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/patron-groups"
             data-bs-target="#institution-tab-pane" type="button" role="tab">Patron Groups</a>
        </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab"
             routerLinkActive="active"
             routerLink="/patron-import/institution/{{institution.id}}/patron-file-upload"
             data-bs-target="#institution-tab-pane" type="button" role="tab">Patron Upload</a>
        </li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="institution-tab-pane" role="tabpanel"
             aria-labelledby="institution-tab-pane">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>
