<a href="/patron-import/institutions" class="btn btn-sm btn-outline-dark pull-left"><i class="fa fa-arrow-left"></i></a>
<div class="container mt-5" *ngIf="institution">

  <h4><strong>{{ institution.name }}</strong></h4>

  <div class="row">

    <div class="col-8">


    </div>

    <div class="col-4">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <th scope="row">Enabled</th>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault_{{institution.id}}" [(ngModel)]="institution.enabled"
                     (ngModelChange)="service.toggleInstitution(institution)">
              <label class="form-check-label" for="flexSwitchCheckDefault_{{institution.id}}"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Tenant</th>
          <td>{{ institution.tenant }}</td>
        </tr>
        <tr>
          <th scope="row">Module</th>
          <td>{{ institution.module }}</td>
        </tr>
        <tr>
          <th scope="row">ESID</th>
          <td>{{ institution.esid }}</td>
        </tr>
        <tr>
          <th scope="row">Email Success</th>
          <td>{{ institution.emailsuccess }}</td>
        </tr>
        <tr>
          <th scope="row">Email Fail</th>
          <td>{{ institution.emailfail }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- patron data -->
  <div class="row">
    <div class="col-12">
      <app-patron-data-table [id]="institution.id" ></app-patron-data-table>
    </div>
  </div>

</div>
