.container {
  margin-top: 20px;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

h2 {
  margin-top: 20px;
  font-size: 1.75em;
  color: #555;
}

.card {
  border: none;
  border-radius: 0.5rem;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 1.2em;
}

.table {
  margin-top: 20px;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.thead-dark th {
  background-color: #343a40;
  color: #fff;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}


#metrics-chart{
  height: 400px;
  width: 100%;
}
