<table datatable [dtOptions]="dtOptions" class="dataTable table table-bordered table-hover spreadsheet-table"
       *ngIf="fileTrackers">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Institution ID</th>
    <th scope="col">Job ID</th>
    <th scope="col">Path</th>
    <th scope="col">Size</th>
    <th scope="col">Last Modified</th>
    <th scope="col">Last Run Time</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of fileTrackers">
    <td>{{ item.id }}</td>
    <td class="text-center"><a routerLink="/patron-import/institution/{{ item.institution_id }}/metrics">{{ item.institution_id }}</a></td>
    <td class="text-center">{{ item.job_id }}</td>
    <td class="text-center path">{{ item.path }}</td>
    <td class="text-center">{{ item.size / 1000 | number : '1.1-1' }}kB</td>
    <td class="text-center dates">{{ item.lastmodified | date : 'medium' }}</td>
    <td class="text-center dates">{{ item.stop_time | date : 'medium' }}</td>
    <td class="actions text-center">
      <a *ngIf="item.contents" href="{{service.rootPath}}/file/{{ item.id }}/download" target="_blank"
         class="text-dark">
        <i class="fa fa-download"></i>
      </a>
      <p *ngIf="!item.contents" class="text-bold text-danger text-opacity-75"><i class="fa fa-times"></i></p>
    </td>
  </tr>
  </tbody>
</table>
